body {
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: white;
    text-align: center;
}

table,
th,
td {
    border: 1px solid;
    text-align: center;
}

table {
    border: 1px solid;
    width: 100%;
}

th,
td {
    padding: 15px;
}

pre {
    text-align: left;
}